.root {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 40px;
      border: 1px solid #ff69b4;
      border-radius: 30px;
      margin-left: 10px;
      cursor: pointer;
      display: inline-block;
      color: #ff69b4;

      &:hover {
        background-color: #ff69b4;
        color: #fff;

        $ui-mouse-device: '(any-hover: hover) and (any-pointer: fine)';
        $ui-touch-device: '(any-hover: none) and (any-pointer: coarse)';
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #ff69b4;
        color: #fff;
      }
    }
  }
}

/* Медиазапрос для экранов шириной 768px и меньше */
@media (max-width: 768px) {
  .root {
    padding: 10px 0;
  }

  ul {
    flex-wrap: wrap; /* Переносит элементы на следующую строку, если они не помещаются */
    justify-content: center; /* Центрирует элементы в контейнере */
  }

  li {
    margin-bottom: 10px; /* Добавляет отступ между строками */

    a {
      width: 35px; /* Уменьшает ширину кнопок */
      height: 35px; /* Уменьшает высоту кнопок */
      line-height: 33px; /* Подгоняет высоту текста под новый размер кнопок */
      margin-left: 5px; /* Уменьшает отступы между кнопками */
      font-size: 14px; /* Уменьшает размер текста */
    }
  }
}

/* Медиазапрос для экранов шириной 480px и меньше */
@media (max-width: 480px) {
  .root {
    padding: 5px 0;
  }

  ul {
    justify-content: space-between; /* Равномерно распределяет кнопки по ширине экрана */
  }

  li {
    a {
      width: 30px; /* Еще больше уменьшает размер кнопок */
      height: 30px;
      line-height: 28px;
      font-size: 12px; /* Уменьшает размер текста */
    }
  }
}
