.root {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 40px;
      border: 1px solid #ff69b4;
      border-radius: 30px;
      margin-left: 10px;
      cursor: pointer;
      display: inline-block;
      color: #ff69b4;

      &:hover {
        background-color: #ff69b4;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #ff69b4;
        color: #fff;
      }
    }
  }
}
