@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 645px) {
      flex-direction: column;
      text-align: center;
      padding: 10px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center; // Центрируем логотип на мобильных устройствах
    margin-bottom: 10px;

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      margin: 0;
    }

    p {
      color: #7b7b7b;
      margin: 0;
      font-size: 14px;
    }

    @media (max-width: 645px) {
      flex-direction: column;
      align-items: center;
      justify-content: center; // Центрируем логотип и текст под ним
      text-align: center;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center; // Центрируем поле поиска

    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;

      @media (max-width: 645px) {
        font-size: 14px;
        padding: 8px;
        margin-top: 10px;
        justify-content: center;
        margin-bottom: 10px;
      }
    }
  }

  .header__cart {
    display: flex;
    align-items: center;
    justify-content: flex-end; // Выравниваем корзину по правому краю на больших экранах
    padding-right: 30px;

    @media (max-width: 645px) {
      justify-content: center;
      padding-left: 30px;
    }
  }
}
